body {
  background: #0e0e0e;
  color: white;
  font-family: sans-serif;
  text-align: center;
  margin-top: 100px;
}

button {
  font-size: 26px;
  padding: 15px 30px;
  cursor: pointer;
  background: crimson;
  color: white;
  border: none;
  border-radius: 8px;
}

button:hover {
  transform: scale(1.05);
}
